:root{
    --bg-black-900: #0056b3;
    --bg-black-700: #2D9DE5;
    --bg-black-500: #5290d1;
    --bg-black-300: #7e9fc2;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.dashboard-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    color: #f7f4f4;
    font-size: medium;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.navbar{
    display: flex;
    flex-direction: column;
}

.logout-btn{
    position: absolute;
    bottom: 3%;
}

.sidebar nav ul li a {
    color: var(--bg-black-500);
    text-decoration: none;
}

.sidebar nav ul li a:hover {
    text-decoration: underline;
}

/* Main content styles */
.main-content {
    flex: 1;
    padding: 20px;
}


.main-content h2 {
    color: #333;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #fafdfa;
    color: rgb(10, 4, 4);
}

td {
    color: var(--bg-black-500);
}

table, th, td {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

td:first-child {
    border-radius: 10px 0 0 10px;
}

td:last-child {
    border-radius: 0 10px 10px 0;
}

tr:hover {
    background-color: #EAF5FC;
}

.workshop-list {
    list-style: none;
    padding: 0;
}

.workshop-list li {
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 10px;
    }

    .main-content {
        padding: 10px;
    }
}


 /*---------------- Modal style ---------------*/
 .modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10000;
}

.modal-container h1 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
    margin-top: 14%;
}

.modal-container label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #555;
}

.modal-container input,
.modal-container select {
    width: 95%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#tableDeleteBtn{
    background-color: var(--bg-black-500);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 5px;
    border: none;
    width: 50%;
}

#tableDeleteBtn:hover{
    background-color: var(--bg-black-700);
}

button{
    background-color: var(--bg-black-500);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    padding: 7px 10px;
    border: none;
}

button:hover{
    background-color: var(--bg-black-700);
}


.modal-container button {
    width: 95%;
    padding: 10px 15px;
    border: none;
    background-color: var(--bg-black-700);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.modal-container button:hover {
    background-color: var(--bg-black-900);
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #aaa;
}

.close-modal:hover {
    color: #000;
}

.modal-overlay.show,
.modal-container.show {
    display: block;
}

#addButton{
    width: 100%;
}


