:root{
    --bg-black-900: #0056b3;
    --bg-black-700: #2D9DE5;
    --bg-black-500: #5290d1;
    --bg-black-300: #7e9fc2;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-color: #f4f4f4;
}

.form-container {
    width: 50%;
    max-width: 400px;
    padding: 20px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}


label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#registration_id {
    margin-bottom: 5px;
}

button {
    padding: 10px 15px;
    background-color: var(--bg-black-700);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--bg-black-900);
}


#allButton{
    display: flex;
    justify-content: space-between;
}


/* ----- alart -------- */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: none;
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.success {
    background-color: #4CAF50;
    color: rgb(204, 54, 54);
}

.error {
    background-color: #f44336;
    color: rgb(231, 63, 63);
}

#alert {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}